.chat-main
  .chat-header
    .chat-header__left
      .chat-header__left-group-name
        = @group.name
      %ul.chat-header__left-group-member
        Member：
        %li.chat-header__left-group-member__name
        = @users.name
    .chat-header__edit
      = link_to edit_group_path(@group), class: "chat-header__edit-name" do
        edit

  .messages
    = render @messages
   
    -# .chat-message
    -#   .chat-message__user
    -#     %p.chat-message__user-name
    -#       takashi
    -#     %p.chat-message__user-time
    -#       2019/11/21(Thu)
    -#       %br
    -#       20:00:15
    -#   %p.chat-message__message
    -#     おはようございます

  .form
    = form_for [@group, @message] do |f|
      = f.text_field :body, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'