.side-bar
  .side-header
    .side-header__box
      .side-header__user-name
        = current_user.name
      .side-header__main
        %ul.top-items__icons
          %li.top-items__icons-edit
            = link_to new_group_path, class: "contents-btn" do
              = icon('far', 'edit', class: "top-items__edit")
          %li.top-items__icons-cog
            = link_to edit_user_path(current_user), class: "contents-btn" do
              = icon('fas', 'cog', class: "top-items__cog")
  .chat-groups
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group-name
            = group.name
          .group-message
            = group.show_last_message